<% if @article.errors.any? %>
  <h3>The following errors occurred:</h3>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @article, local: true) do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <%= form.submit %>
<% end %>
